.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.corpo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.caixa {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
	border: thin solid #FFCC66;
}
.botao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
	border: thin solid #FFCC66;
}
a:link {
	color: #CC0000;
	text-decoration: none;

}
a:visited {
	color: #CC0000;
	text-decoration: none;

}
a:hover {
	color: #CC0000;
	text-decoration: none;

}
a:active {
	color: #CC0000;
	text-decoration: none;

}
.calendario {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 10px;
	font-weight: normal;
}
